@model MusicApp.Models.MusicRecord

@{
    ViewData["Title"] = "Details";
}
<div class="container p-3">
    <div class="row justify-content-center"
        @if (TempData["AlertMessage"] != null)
        {
            <div class="alert alert-success w-25">
                @TempData["AlertMessage"] &nbsp;
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }
    </div>

    <h1>Record Info</h1>

<div>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Artist)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Artist)
        </dd>
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Year)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Year)
        </dd>
        <dt class="col-sm-2">
                @Html.DisplayNameFor(model => model.Genre)
        </dt>
        <dd class="col-sm-10">
                @Html.DisplayFor(model => model.Genre)
        </dd>
    </dl>
</div>

<table class="table table-bordered">
    <thead>
        <tr>
            <th>
                Musician
            </th>
            <th>
                Instrument
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>

            @foreach (var item in Model.RecordMembers)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(model => item.Musician.FullName)
                    </td>
                    <td>
                        @Html.DisplayFor(model => item.Musician.Instrument)
                    </td>
                    <td class="text-end">
                        <a asp-action="DeleteMusician" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm m-1"> Remove Member </a>
                    </td>
                </tr>
            }

    </tbody>
</table>

<div>
    <a asp-controller="Musicians" asp-action="MemberAdd" asp-route-id="@Model?.Id">Add a Member</a> |
    <a asp-action="Index">Back to List</a>
</div>

</div>

