@model IEnumerable<MusicApp.Models.MusicRecord>

@{
    ViewData["Title"] = "Index";
}

<div class="container p-3">
    <div class="row justify-content-center">
        @if (TempData["AlertMessage"] != null)
        {
            <div class="alert alert-success w-25">
                @TempData["AlertMessage"]  &nbsp;
                <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
            </div>
        }
    </div>
    <div class="row pt-4">      
        <div class="col-6">
            <h1>Records</h1>
        </div>
        <div class="col-6 text-end">
            <a asp-controller="MusicRecords" asp-action="Create" class="btn btn-outline-primary btn-lg">
                <i class="bi bi-plus-circle-fill"></i> &nbsp; Add Record
            </a>
        </div>
    </div>
    <br /><br />

    <table class="table table-striped">
        <thead class="table-info">
            <tr>
                <th>
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.Name), "Index",
                    new {q = ViewBag.SearchText, orderBy = "Name", orderDirection = ViewBag.OrderDir},
                    new{style = "text-decoration:none", @class = "text-light"})
                </th>
                <th>
                    @Html.ActionLink(@Html.DisplayNameFor(model => model.Artist), "Index",
                    new {q = ViewBag.SearchText, orderBy = "Artist", orderDirection = ViewBag.OrderDir},
                    new{style = "text-decoration:none", @class = "text-light"})
                <th>
                        @Html.ActionLink(@Html.DisplayNameFor(model => model.Year), "Index",
                    new {q = ViewBag.SearchText, orderBy = "Year", orderDirection = ViewBag.OrderDir},
                    new{style = "text-decoration:none", @class = "text-light"})
                </th>
                <th>
                        @Html.ActionLink(@Html.DisplayNameFor(model => model.Genre), "Index",
                    new {q = ViewBag.SearchText, orderBy = "Genre", orderDirection = ViewBag.OrderDir},
                    new{style = "text-decoration:none", @class = "text-light"})
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Artist)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Year)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Genre)
                    </td>
                    <td class="text-end">
                        <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-primary btn-sm m-1">
                            <i class="bi bi-pencil"></i> Edit
                        </a> &nbsp;
                        <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-info btn-sm m-1">
                            <i class="bi bi-person-circle"></i> Members
                        </a> &nbsp;
                        <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-outline-danger btn-sm m-1">
                            <i class="bi bi-trash2-fill"></i> Delete
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
